@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.q-page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.click-button-1 {
    background-color: #ff0000;
    position: fixed;
    top: 60px;
    left: 80px;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px 30px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
