@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.q-page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    gap: 20px;
}

.q2-question {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #ff0000;
    text-align: center;
    margin-bottom: 20px;
}

.q2-button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    width: 200px;
    text-align: center;
}

.q2-button:hover {
    background-color: #4b0000;
}
